{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:flowtype/recommended",
    "flowtype-essential",
    "plugin:compat/recommended",
    //    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/standard",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "plugins": [
    "compat",
    "react",
    "react-hooks",
    "flowtype",
    "jsx-a11y",
    "import",
    "prettier"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "polyfills": [
      "fetch",
      "Number.isNaN",
      "Promise.reject"
    ],
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack.dev.js"
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "warn",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    //    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none",
        "ignoreRestSiblings": false
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "max-len": [
      1,
      140,
      2,
      {
        "ignoreComments": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "compat/compat": 2,
    "arrow-parens": [
      2,
      "as-needed",
      {
        "requireForBlockBody": false
      }
    ],
    "no-console": "off",
    "prettier/prettier": "error",
    "flowtype/delimiter-dangle": [
      2,
      "always-multiline"
    ],
    "flowtype/no-weak-types": 0,
    "flowtype/object-type-delimiter": 0,
    "flowtype/require-parameter-type": 0,
    "flowtype/require-return-type": 0,
    "flowtype/require-valid-file-annotation": [
      2,
      "always",
      {
        "annotationStyle": "line",
        "strict": false
      }
    ],
    "flowtype/semi": [
      2,
      "always"
    ]
  }
}
